<!-- <body>
  <header>
    <a href="#"><div class="logo">spAce.I</div></a>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li>
          <a href="#">The Work</a>
          <ul>
            <li><a href="#">Research</a></li>
            <li><a href="#">Commercial</a></li>
          </ul>
        </li>
        <li>
          <a href="#">The Collaborations</a>
          <ul>
            <li class="sub-menu">
              <a href="#">Research</a>
              <ul>
                <li><a href="#">Angular</a></li>
                <li><a href="#">react</a></li>
                <li><a href="#">testing</a></li>
              </ul>
            </li>
            <li><a href="#">Commercial</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <!-- <button mat-raised-button [mat-menu-trigger-for]="domains">
    full-stack Languages
  </button>
  <mat-menu mat-raised-button #domains="matMenu">
    <button mat-menu-item [mat-menu-trigger-for]="ref">frontend</button>
    <button mat-menu-item [mat-menu-trigger-for]="ref1">backend</button>
  </mat-menu>
  <mat-menu #ref="matMenu">
    <button mat-menu-item>html</button>
    <button mat-menu-item>css</button>
    <button mat-menu-item>JS</button>
  </mat-menu>
  <mat-menu #ref1="matMenu">
    <button mat-menu-item>html</button>
    <button mat-menu-item>css</button>
    <button mat-menu-item>JS</button>
  </mat-menu> -->
<!-- </body> -->

<div class="header">
  <div class="logo">
    <a href="">spAce.I</a>
  </div>
</div>
<div class="menu">
  <link rel="stylesheet" href="./header.component.css" />

  <!-- routing home button using routerLink directive -->

  <div class="button">
    <button
      routerLink="/"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      <mat-icon>home</mat-icon>
    </button>
  </div>

  <!-- creating meanu dropdown using angular material -->
  <div class="research">
    <!-- we used angular material selectors for dropdown button,when we use nested selectors inside single tag it will automatically generates arrow dropdown -->
    <button mat-raised-button [mat-menu-trigger-for]="domains">The Work</button>

    <!-- here #domains acts as a reference for the work button,we can valid this with using mat-menu-trigger-for selector we bind them together  -->
    <mat-menu mat-raised-button #domains="matMenu">
      <button mat-menu-item [mat-menu-trigger-for]="ref">Research</button>
      <button mat-menu-item [mat-menu-trigger-for]="ref1">commercial</button>
    </mat-menu>

    <!-- here,matMenu is used to bind the references -->
    <mat-menu #ref="matMenu">
      <button mat-menu-item routerLink="./the-work">Projects</button>
      <button mat-menu-item routerLink="./the-work">Pluggins</button>
      <button mat-menu-item routerLink="./the-work">Testing</button>
    </mat-menu>
    <mat-menu #ref1="matMenu">
      <button mat-menu-item>AI Projects</button>
      <button mat-menu-item>E-Commerce</button>
      <button mat-menu-item>Banking Sites</button>
    </mat-menu>
  </div>

  <div class="collabration">
    <button mat-raised-button [mat-menu-trigger-for]="collabrations">
      The Collaboration
    </button>
    <mat-menu mat-raised-button #collabrations="matMenu">
      <button mat-menu-item [mat-menu-trigger-for]="tc1">Research</button>
      <button mat-menu-item [mat-menu-trigger-for]="tc2">Commercial</button>
    </mat-menu>
    <mat-menu #tc1="matMenu">
      <button mat-menu-item [mat-menu-trigger-for]="frontend">Frontend</button>
      <button mat-menu-item>Backend</button>
      <button mat-menu-item routerLink="./contactus">contact</button>
    </mat-menu>
    <mat-menu #frontend="matMenu">
      <button mat-menu-item>React</button>
      <button mat-menu-item>Angular</button>
      <button mat-menu-item>web responsive</button>
      <button mat-menu-item>mern</button>
      <button mat-menu-item>mean</button>
      <button mat-menu-item>figma</button>
    </mat-menu>
    <mat-menu #tc2="matMenu">
      <button mat-menu-item routerLink="./contactus">contact</button>
      <button mat-menu-item>work</button>
      <button mat-menu-item>technologies</button>
    </mat-menu>
  </div>
  <!-- here,the vale given for routerlink is our component module id,by the help of this we can route them -->

  <div class="button1">
    <button
      routerLink="/login"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"
    >
      Login
    </button>
  </div>
</div>
