<div class="menu">
  <div class="logo">
    <a href="">spAce.I</a>
  </div>
  <link rel="stylesheet" href="./header.component.css" />
  <div class="sidemenus">
    <div class="button">
      <button
        routerLink="/"
        routerLinkActive="activebutton"
        ariaCurrentWhenActive="page"
      >
        <mat-icon matTooltip="Home">home</mat-icon>
      </button>
    </div>
    <div class="research">
      <button
        mat-raised-button
        [mat-menu-trigger-for]="domains"
        matTooltip="Showcase of Our Excellence"
        aria-label="Button that displays a tooltip when focused or hovered over"
      >
        The Work
      </button>
      <mat-menu mat-raised-button #domains="matMenu">
        <button mat-menu-item [mat-menu-trigger-for]="ref">Research</button>
        <button mat-menu-item [mat-menu-trigger-for]="ref1">commercial</button>
      </mat-menu>

      <!-- here,matMenu is used to bind the references -->
      <mat-menu #ref="matMenu">
        <button mat-menu-item routerLink="./theworkres">Projects</button>
        <button mat-menu-item routerLink="./theworkres">Pluggins</button>
        <button mat-menu-item routerLink="./theworkres">Testing</button>
      </mat-menu>
      <mat-menu #ref1="matMenu">
        <button mat-menu-item routerLink="./theworkcomm">AI Projects</button>
        <button mat-menu-item routerLink="./theworkcomm">E-Commerce</button>
        <button mat-menu-item routerLink="./theworkcomm">Banking Sites</button>
      </mat-menu>
    </div>

    <div class="collabration">
      <button
        *ngIf="isUserSignedUp"
        mat-raised-button
        [mat-menu-trigger-for]="collabrations"
        matTooltip="Collabrate Contact Forms"
      >
        The Collaboration
      </button>
      <mat-menu mat-raised-button #collabrations="matMenu">
        <button mat-menu-item [mat-menu-trigger-for]="tc1">Research</button>
        <button mat-menu-item [mat-menu-trigger-for]="tc2">Commercial</button>
      </mat-menu>
      <mat-menu #tc1="matMenu">
        <!-- <button mat-menu-item [mat-menu-trigger-for]="frontend">
          Frontend
        </button> -->
        <!-- <button mat-menu-item [mat-menu-trigger-for]="backend">Backend</button> -->
        <button mat-menu-item routerLink="./collabres">contact</button>
      </mat-menu>
      <mat-menu #frontend="matMenu">
        <button mat-menu-item routerLink="/contactus">React</button>
        <button mat-menu-item routerLink="/contactus">Angular</button>
        <button mat-menu-item routerLink="/contactus">web responsive</button>
        <button mat-menu-item routerLink="/contactus">mern</button>
        <button mat-menu-item routerLink="/contactus">mean</button>
        <button mat-menu-item routerLink="/contactus">figma</button>
      </mat-menu>
      <mat-menu #backend="matMenu">
        <button mat-menu-item routerLink="/contactus">JAVA</button>
        <button mat-menu-item routerLink="/contactus">Pyton</button>
        <button mat-menu-item routerLink="/contactus">My SQL</button>
        <button mat-menu-item routerLink="/contactus">PHP</button>
        <button mat-menu-item routerLink="/contactus">.net</button>
      </mat-menu>
      <mat-menu #tc2="matMenu">
        <button mat-menu-item routerLink="/collabcom">contact</button>
        <!-- <button mat-menu-item>work</button>
        <button mat-menu-item>technologies</button> -->
      </mat-menu>
    </div>
    <!-- routerLink="/login" -->
    <div class="button1">
      <button
        routerLinkActive="activebutton"
        mat-raised-button
        [mat-menu-trigger-for]="access"
        ariaCurrentWhenActive="page"
        matTooltip="User/Admin"
      >
        Access
      </button>
      <button (click)="getBooleanValue()">check</button>
      <mat-menu #access="matMenu">
        <button mat-menu-item routerLink="./login">User</button>
        <button mat-menu-item routerLink="./adminlogin">Admin</button>
      </mat-menu>
    </div>
  </div>

  <!-- here #domains acts as a reference for the work button,we can valid this with using mat-menu-trigger-for selector we bind them together  -->
  <!-- here,the vale given for routerlink is our component module id,by the help of this we can route them -->
  <!-- we used angular material selectors for dropdown button,when we use nested selectors inside single tag it will automatically generates arrow dropdown -->
</div>

<!-- [disabled]="!isUserSignedUp" -->
