.logo a {
  display: flex;
  color: unset;
  text-decoration-color: whitesmoke;
  font-size: xx-large;
  text-decoration-style: wavy;
}
.sidemenus{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: gray;
  border-bottom: 1px solid whitesmoke;
  padding: 0 20px;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: gray;
  border-bottom: 1px solid whitesmoke;
  padding: 0 20px;
}

.button {
  padding: 0 20px;
  color: aquamarine;
  font-size: 18px;
  transition: transform 0.3s ease-in-out;
  
}

.button1 {
  padding: 0 20px;
  color: aquamarine;
  font-size: 18px;
  transition: transform 0.3s ease-in-out;
}

.collabration {
  padding: 0 20px;
  color: aquamarine;
  font-size: 18px;
  transition: transform 0.3s ease-in-out;
}

.research {
  padding: 0 20px;
  color: aquamarine;
  font-size: 18px;
  transition: transform 0.3s ease-in-out;
}

