<div class="container">
    <link rel="stylesheet" href="./collabres.component.css" />
    <h1>Research Contact Form</h1>
    <form [formGroup]="researchForm" (ngSubmit)="onSubmit()">
      <label for="researchName">Research Name:</label>
      <input type="text" id="researchName" formControlName="name" />
      <div
        class="error-message"
        *ngIf="
          researchForm.get('name')?.invalid && researchForm.get('name')?.touched
        "
      >
        Please enter a valid research name.
      </div>
  
      <label for="researchDescription">Research Description:</label>
      <textarea id="researchDescription" formControlName="description"></textarea>
      <div
        class="error-message"
        *ngIf="
          researchForm.get('description')?.invalid &&
          researchForm.get('description')?.touched
        "
      >
        Please enter a valid research description.
      </div>
  
      <label for="frontendTechnologies">Frontend Technologies:</label>
      <select
        multiple
        id="frontendTechnologies"
        (change)="addFrontendTechnology($event)"
      >
        <option
          *ngFor="let technology of frontendTechnologies"
          [value]="technology"
        >
          {{ technology }}
        </option>
      </select>
      <div
        class="error-message"
        *ngIf="
          researchForm.get('frontendTechnologies')?.invalid &&
          researchForm.get('frontendTechnologies')?.touched
        "
      >
        Please select at least one frontend technology.
      </div>
      <div
        *ngFor="
          let technology of frontendTechnologiesFormArray.controls;
          let i = index
        "
      >
        <span>{{ technology.value }}</span>
        <button type="button" (click)="removeFrontendTechnology(i)">
          Remove
        </button>
      </div>
  
      <label for="backendTechnologies">Backend Technologies:</label>
      <select
        multiple
        id="backendTechnologies"
        (change)="addBackendTechnology($event)"
      >
        <option
          *ngFor="let technology of backendTechnologies"
          [value]="technology"
        >
          {{ technology }}
        </option>
      </select>
      <div
        class="error-message"
        *ngIf="
          researchForm.get('backendTechnologies')?.invalid &&
          researchForm.get('backendTechnologies')?.touched
        "
      >
        Please select at least one backend technology.
      </div>
      <div
        *ngFor="
          let technology of backendTechnologiesFormArray.controls;
          let i = index
        "
      >
        <span>{{ technology.value }}</span>
        <button type="button" (click)="removeBackendTechnology(i)">Remove</button>
      </div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" />
      <div
        class="error-message"
        *ngIf="
          researchForm.get('email')?.invalid && researchForm.get('email')?.touched
        "
      >
        Please enter a valid email address.
      </div>
      <br />
      <button
        type="submit"
        [disabled]="researchForm.invalid"
        >
        Submit
      </button>
    </form>
  </div>
  
  <!-- routerLink="/thanks" -->