.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 143px;
}

table {
  border: 1px solid;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f5f5f5;
}
p {
  text-align: center;
}
