<!-- <div class="container">
  <h2>Admin Dashboard</h2>
  <button (click)="showData()">Show Data</button>
  <pre>{{ jsonData | json }}</pre>
</div> -->

<div class="container">
  <h2>Admin Dashboard</h2>
  <button (click)="showData()">Show Data</button>
  <table *ngIf="jsonData && jsonData.length > 0">
    <thead>
      <tr>
        <th>Sl.No</th>
        <th>User Name</th>
        <th>Email</th>
        <!-- <th>Password</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of jsonData; let i = index">
        <td>{{ i + 0 }}</td>
        <td>{{ item.uname }}</td>
        <td>{{ item.email }}</td>
        <!-- <td>{{ item.password }}</td> -->
      </tr>
    </tbody>
  </table>
  <p *ngIf="jsonData && jsonData.length === 0">No data available.</p>
</div>
<div>
  <button (click)="getDataFromApi()" routerLink="/projectdetails">
    Project Details
  </button>
  <div *ngIf="specificData">Specific Value: {{ specificData }}</div>
  <!-- <div (mouseover)="onMouseOver()" (mouseout)="onMouseOut()" [style.background-color]="backgroundColor">
    Hover over me!
  </div> -->
</div>
