<link rel="stylesheet" href="./testing.component.css" />
<!-- <h2>Show Data</h2>

<button (click)="toggleTable()">Show Data</button>

<div *ngIf="showDataTable">
  <h2>User List</h2>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.uname }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button (click)="createUser()">Edit</button>
          <button (click)="deleteUser(user.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Add New User</h2>

  <form (submit)="createUser()">
    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="newUser.name" required />

    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="newUser.email" required />

    <button type="submit">Add User</button>
  </form>

  <h2>Edit User</h2>

  <form *ngIf="selectedUser" (submit)="updateUser()">
    <label for="edit-name">Name:</label>
    <input
      type="text"
      id="edit-name"
      [(ngModel)]="selectedUser.name"
      required
    />

    <label for="edit-email">Email:</label>
    <input
      type="email"
      id="edit-email"
      [(ngModel)]="selectedUser.email"
      required
    />

    <button type="submit">Update User</button>
  </form>
</div> -->

<div class="dashboard">
  <div class="project-details">
    <h1>Project Dashboard</h1>
    <p>Project Name: My Project</p>
    <p>Start Date: 2023-01-01</p>
    <p>End Date: 2023-12-31</p>
  </div>

  <div class="toggle-buttons">
    <button class="active" (click)="toggleSection('Tasks')">Tasks</button>
    <button (click)="toggleSection('Issues')">Issues</button>
    <button (click)="toggleSection('Milestones')">Milestones</button>
  </div>

  <div class="content">
    <p>{{ selectedSection }}</p>
  </div>
</div>
