<link rel="stylesheet" href="./testing.component.css" />
<!-- <h2>User List</h2>

<table *ngIf="!isCreateMode && !isEditMode">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button (click)="toggleEditMode(user)">Edit</button>
        <button (click)="deleteUser(user.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="isCreateMode || isEditMode">
  <h2 *ngIf="isCreateMode">Add New User</h2>
  <h2 *ngIf="isEditMode">Edit User</h2>

  <form (submit)="isCreateMode ? createUser() : updateUser()">
    <label for="name">Name:</label>
    <input
      type="text"
      id="name"
      [(ngModel)]="isCreateMode ? newUser.name : selectedUser.name"
      required
    />

    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      [(ngModel)]="isCreateMode ? newUser.email : selectedUser.email"
      required
    />

    <button type="submit">
      {{ isCreateMode ? "Add User" : "Update User" }}
    </button>
    <button
      type="button"
      (click)="isCreateMode ? toggleCreateMode() : toggleEditMode(null)"
    >
      Cancel
    </button>
  </form>
</div> -->
