<!DOCTYPE html>
<html>
  <head>
    <title>The Collaboration</title>
    <link rel="stylesheet" type="text/css" href="./thecollab.component.css" />
  </head>
  <body>
    <div class="container">
      <div class="profile">
        <img src="../../assets/download (1).jpg" alt="Profile Picture" />
        <h2>AI-Projects</h2>
        <p>research</p>
        <a href="https://openai.com/research/dall-e">View Projects</a>
      </div>
      <div class="profile">
        <img src="../../assets/download.png" alt="Profile Picture" />
        <h2>E-Commerce</h2>
        <p>.net team</p>
        <a href="https://openai.com/research/clip">View Projects</a>
      </div>
      <div class="profile">
        <img src="../../assets/download.jpg" alt="Profile Picture" />
        <h2>Banking Sites</h2>
        <p>View Sites</p>
        <a
          href="https://openai.com/research/hierarchical-text-conditional-image-generation-with-clip-latents"
          >View Testing</a
        >
      </div>
    </div>
  </body>
</html>
