<link rel="stylesheet" href="./contact.component.css" />
<div class="form-container">
  <h2>Contact Form</h2>
  <form [formGroup]="formData" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="companyName">Company Name:</label>
      <input
        type="text"
        id="companyName"
        formControlName="companyName"
        class="form-control"
      />
      <div
        *ngIf="
          formData.get('companyName')?.errors &&
          formData.get('companyName')?.touched
        "
        class="error-message"
      >
        <div *ngIf="formData.get('companyName')?.hasError('required')">
          Company Name is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="companyEmail">Company Email:</label>
      <input
        type="email"
        id="companyEmail"
        formControlName="companyEmail"
        class="form-control"
      />
      <div
        *ngIf="
          formData.get('companyEmail')?.errors &&
          formData.get('companyEmail')?.touched
        "
        class="error-message"
      >
        <div *ngIf="formData.get('companyEmail')?.hasError('required')">
          Company Email is required.
        </div>
        <div *ngIf="formData.get('companyEmail')?.hasError('email')">
          Please enter a valid email address.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="city">City:</label>
      <select id="city" formControlName="city" class="form-control">
        <option value="">Select a city</option>
        <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
      </select>
      <div
        *ngIf="formData.get('city')?.errors && formData.get('city')?.touched"
        class="error-message"
      >
        <div *ngIf="formData.get('city')?.hasError('required')">
          City is required.
        </div>
      </div>
    </div>

  

    <button type="submit" [disabled]="formData.invalid" class="submit-button">
      subscribe
    </button>
  </form>
</div>
