h1 {
  color: #333;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: dotted;
}

p {
  font-size: large;
  font-family: sans-serif;
}

button {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  background-color: gray;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
  margin-left: 15px;
}

button:hover {
  background-color: black;
}

button:focus {
  outline: none;
}

button:last-child {
  margin-bottom: 0;
}
