

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.dashboard-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background: linear-gradient(#344548, #617073);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 75px;
  margin-bottom: 1rem;
  /* text-align: left; */
  font-size: larger;
  font-style: oblique;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}
.sidebar li:hover {
  background-color: #4d5e62;
}
.content {
  flex: 1;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-button {
  background-color: #ff6f69;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #ff4136;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.progress-content {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 300px;
  padding: 20px;
  margin: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.box h3 {
  margin-top: 0;
}

.box ul {
  list-style-type: none;
  padding: 0;
}

.box li {
  margin-bottom: 5px;
}

.box a {
  display: inline-block;
  background:linear-gradient(#222e30,#3a4d51
  );
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 3px;
}

.box a:hover {
  background-color: black;
}
