<h1>User List</h1>

<form (submit)="createUser()">
  <input type="text" [(ngModel)]="newUser.name" placeholder="Name" required>
  <button type="submit">Create</button>
</form>

<ul>
  <li *ngFor="let user of users">
    <ng-container *ngIf="editingUserId !== user.id; else editMode">
      {{ user.name }}
      <button (click)="editUser(user.id)">Edit</button>
      <button (click)="deleteUser(user.id)">Delete</button>
    </ng-container>
    <ng-template #editMode>
      <input type="text" [(ngModel)]="user.name" required>
      <button (click)="updateUser(user)">Save</button>
      <button (click)="cancelEdit()">Cancel</button>
    </ng-template>
  </li>
</ul>

