/* .h1{
    text-align: center;
} */
.uploader-card {
    width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    background: linear-gradient(
        90deg,
        #222e30 0%,
        #3a4d51 35%,
        #5a777e 100%); /* Gradient color */
    color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    margin-top: 75px;
  }
  
  .uploader-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  }
  
  .file-input {
    margin-bottom: 10px;
  }
  
  .submitted-message em {
    font-style: italic;
  }
  
  .csv-details {
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 20px;
    background-color: #f5f5f5;
  }
  @keyframes glowing {
    0% {
      box-shadow: 
        90deg,
        #222e30 0%,
        #3a4d51 35%,
        #5a777e 100%;
    }
    50% {
      box-shadow:90deg,
      #222e30 0%,
      #3a4d51 35%,
      #5a777e 100%;;
    }
    100% {
      box-shadow: 90deg,
      #222e30 0%,
      #3a4d51 35%,
      #5a777e 100%;;
    }
  }
  
  .submitted-message em {
    font-style: italic;
    animation: glowing 2s infinite; /* Apply the animation */
  }
    

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #99d9f7 35%, #bce9f8 50%, #b7f8f3 65%, #f2f2f2 100%);
    }
    
    #form {
    max-width: 900px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
    }
    
    .heading {
    text-align: left;
    margin-left: 20px;
    color: rgb(7, 7, 7);
    font-size: 48px;
    font-weight: bold;
    border-left: 5px solid #007bff;
    padding-left: 10px;
    line-height: 1.2;
    }
    
    #about {
    text-align: right;
    margin-right: 20px;
    font-size: 14px;
    color: #555;
    opacity: 0.8;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    
    input[type="button"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    }
    
    input[type="button"]:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    }
    
    .inputField input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    }
    
    .inputField input[type="text"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    
    table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    max-height: 10px;
    overflow-y: auto;
    animation: slideInTable 1s ease-in-out;
    }
    
    table, th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    animation: fadeInTable 1s ease-in-out;
    }
    
    th {
    background-color: #f2f2f2;
    }
    
    tr:hover {
    background-color: #df9292;
    cursor: pointer;
    }
    
    @keyframes fadeIn {
    from {
    opacity: 0;
    transform: translateY(-20px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
    }
    
    @keyframes slideInTable {
    from {
    transform: translateY(20px);
    }
    to {
    transform: translateY(0);
    }
    }
    
    @keyframes fadeInTable {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
    }
    button[type="submit"] {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 4px;
      font-size: 16px;
    }
    
    button[type="submit"]:hover {
      background-color: #0056b3;
      margin-top: 10px;
    }
    .validation{
      color: red;
      font-style: italic;
    }
    form {
      margin-top: 20px;
    }