<!-- <app-header></app-header> -->
<!-- <app-home></app-home> -->
<!-- <app-login></app-login> -->
<!-- <app-the-work></app-the-work> -->
<app-header></app-header>
<!-- <link rel="stylesheet" href="./app.component.css" />

<nav>
  <button
    class="button"
    routerLink="/home"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Home
  </button>
  <button
    class="button1"
    routerLink="/login"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Login
  </button>
</nav>

<div class="dropdown">
  <button mat-raised-button [mat-menu-trigger-for]="domains">
    full-stack Languages
  </button>
  <mat-menu mat-raised-button #domains="matMenu">
    <button mat-menu-item [mat-menu-trigger-for]="ref">frontend</button>
    <button mat-menu-item [mat-menu-trigger-for]="ref1">backend</button>
  </mat-menu>
  <mat-menu #ref="matMenu">
    <button mat-menu-item>html</button>
    <button mat-menu-item>css</button>
    <button mat-menu-item>JS</button>
  </mat-menu>
  <mat-menu #ref1="matMenu">
    <button mat-menu-item>html</button>
    <button mat-menu-item>css</button>
    <button mat-menu-item>JS</button>
  </mat-menu>
</div> -->

<!-- <div style="display: none">
  <app-home></app-home>
  <app-login></app-login>

  <nav>
    <a class="button" routerLink="/app-home">Home</a> |
    <a class="button" routerLink="/app-login"></a>
  </nav>
</div> -->
<router-outlet></router-outlet>
