<!-- <form (ngSubmit)="onSubmit()">
    <div>
      <label for="technology">Select Technology:</label>
      <select id="technology" [(ngModel)]="selectedTechnology" name="technology">
        <option *ngFor="let tech of technologies" [value]="tech.id">{{ tech.name }}</option>
      </select>
    </div>
    <button type="submit">Send</button>
  </form> -->
  
  <!-- <h1>Angular Toast</h1>

  <h1>Angular 8 Toastr Notifications Example - ItSolutionStuff.com</h1> -->
  
<button btn btn-primary (click)="showToastr()">click me</button>
    
  <!-- <button (click)="showSuccessToaster()">Success</button>
  <button (click)="showErrorToaster()">Error</button>
  <button (click)="showWarningToaster()">Warning</button> -->