/* .container {
  width: 80%;
    margin: 0 auto;
    padding: 20px;
  height: 200px;
  overflow: auto;
  margin-left: 15px;
}

.data {
  margin-left: 30px;
}
.project {
  margin-left: 30px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

h2 {
  text-align: center;
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

button {
  padding: 8px 16px;
  margin-top: 8px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

.dashboard-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.sidebar h2 {
  padding: 10px;
  margin-bottom: 25px;
  border-bottom: black solid;
  border-bottom-style: double;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.menu-item li {
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.content {
  flex: 1;
  padding: 20px;
}

.logout {
  margin-top: auto;
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 15px;
  margin-left: 30px;
}

.logout-button {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.data-container,
.project-details {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
button {
  padding: 8px 16px;
  margin-top: 8px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: black;
}
.subscriptions-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.subscriptions-container table th,
.subscriptions-container table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-inline: 40px;
}
li:hover {
  background-color: rgb(61, 61, 61);
}
