.container {
  /* width: 80%;
    margin: 0 auto;
    padding: 20px; */
  height: 200px;
  overflow: auto;
  margin-left: 15px;
}

.data {
  margin-left: 30px;
}
.project {
  margin-left: 30px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
/* .thead {
    position: fixed;
  } */
h2 {
  text-align: center;
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

button {
  padding: 8px 16px;
  margin-top: 8px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* button:hover {
  background-color: gray;
} */

.user-details {
  background-color: #f2f2f2;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.user-details.show {
  opacity: 1;
  max-height: 500px;
}

.projectcontainer {
  height: 200px;
  overflow: auto;
  margin-left: 15px;
}
.logout-button {
  padding: 8px 16px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: left;
}
.logout{
  position: absolute;
  top: 74px;
  right: 16px;
  font-size: 18px;
  margin-top: 3px;
}
