<link rel="stylesheet" href="./admin-dashboard.component.css" />

<div class="dashboard-container">
  <div class="sidebar">
    <h2>Admin Dashboard</h2>
    <ul class="sidebar-menu">
      <li class="menu-item" (click)="toggleUserTable()">
        <span>{{ showUserTable ? "Hide User Data" : "Show User Data" }}</span>
      </li>
      <li class="menu-item" (click)="toggleData()">
        <span>Research Details</span>
      </li>
      <li class="menu-item" (click)="toggleCollabdetails()">
        Collaboration Details
      </li>
      <li class="menu-item" (click)="toggleSubscriptions()">
        <span>{{
          showSubscriptions ? "Hide Subscriptions" : "Show Subscriptions"
        }}</span>
      </li>
      <li class="menu-item" (click)="togglePortfolios()">Portfolio</li>
    </ul>
    <div class="logout">
      <button class="logout-button" (click)="logout()">Logout</button>
    </div>
  </div>
  <!-- THIS BELOW CODE IS USED TO SHOW USER DATA WITH CRUD OPERATIONS -->
  <div class="data-container" *ngIf="showUserTable">
    User Table
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.uname }}</td>
          <td>{{ user.email }}</td>
          <td>
            <button (click)="deleteUser(user.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- BELOW CODE IS USED TO SHOW RESEARCH CONTACT FORM DETAILS -->
  <div class="project-details" *ngIf="showData">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Description</th>
          <th>Frontend Technologies</th>
          <th>Backend Technologies</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of jsonData; let i = index">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.description }}</td>
          <td>
            <ul>
              <li *ngFor="let technology of item.frontendTechnologies">
                {{ technology }}
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li *ngFor="let technology of item.backendTechnologies">
                {{ technology }}
              </li>
            </ul>
          </td>
          <td>
            <button (click)="deleteData(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- BELOW CODE IS TO SHOW HOME SUBSCRIBE FORM DETAILS TO ADMIN -->
  <div class="content" *ngIf="showSubscriptions">
    <div
      class="subscriptions-container"
      *ngIf="subscriptions && subscriptions.length > 0"
    >
      <h3>Subscriptions</h3>
      <table>
        <thead>
          <tr>
            <th>Company Name</th>
            <th>Company Email</th>
            <th>City</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subscription of subscriptions">
            <td>{{ subscription.companyName }}</td>
            <td>{{ subscription.companyEmail }}</td>
            <td>{{ subscription.city }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="subscriptions-container"
      *ngIf="!subscriptions || subscriptions.length === 0"
    >
      <h3>No subscriptions found.</h3>
    </div>
  </div>

  <!-- THIS BELOW CODE IS FOR PORTFOLIO SECTION -->
  <div class="portfolios-container" *ngIf="showPortfolios">
    <h3>Portfolios</h3>
    <div class="portfolio-items">
      <div class="portfolio-item">
        <img src="" alt="Portfolio Image 1" />
        <h4>Project 1</h4>
        <p>Description of Project 1</p>
      </div>
      <div class="portfolio-item">
        <img src="" alt="Portfolio Image 2" />
        <h4>Project 2</h4>
        <p>Description of Project 2</p>
      </div>
      <!-- Add more portfolio items here -->
    </div>
  </div>
  <div class="project-details" *ngIf="showCollaborationDetails">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Description</th>
          <th>Frontend Technologies</th>
          <th>Backend Technologies</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of collaborationDetails; let i = index">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.description }}</td>
          <td>
            <ul>
              <li *ngFor="let technology of item.frontendTechnologies">
                {{ technology }}
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li *ngFor="let technology of item.backendTechnologies">
                {{ technology }}
              </li>
            </ul>
          </td>
          <td>
            <button (click)="deleteData(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <button (click)="editUser(user)">Edit</button> -->
