<div class="form-container">
  <form [formGroup]="researchForm" (ngSubmit)="submitForm()">
    <div>
      <label for="researchName">Research Name:</label>
      <input
        type="text"
        id="researchName"
        formControlName="researchName"
        required
      />
      <div
        *ngIf="
          researchForm.get('researchName')?.invalid &&
          researchForm.get('researchName')?.touched
        "
        class="error"
      >
        Research Name is required.
      </div>
    </div>

    <div>
      <label for="researchDescription">Research Description:</label>
      <textarea id="clipboard-example-textarea" cols="30" rows="10" formControlName="researchDescription" [(ngModel)]="value"></textarea>
<button [cdkCopyToClipboard]="value">Copy to clipboard</button>
      <div
        *ngIf="
          researchForm.get('researchDescription')?.invalid &&
          researchForm.get('researchDescription')?.touched
        "
        class="error"
      >
        Research Description is required.
      </div>
    </div>
    <div>
      <label for="technology1">FrontEnd Technologies:</label>
      <select id="technology1" formControlName="technology1" required>
        <option value="">-- Select Technology 1 --</option>
        <option
          *ngFor="let technology of frontEndTechnologies"
          [value]="technology"
        >
          {{ technology }}
        </option>
      </select>
      <div
        *ngIf="
          researchForm.get('technology1')?.invalid &&
          researchForm.get('technology1')?.touched
        "
        class="error"
      >
        Technology 1 is required.
      </div>
    </div>

    <div>
      <label for="technology2">Backend Technologies:</label>
      <select id="technology2" formControlName="technology2" required>
        <option value="">-- Select Technology 2 --</option>
        <option
          *ngFor="let technology of backEndTechnologies"
          [value]="technology"
        >
          {{ technology }}
        </option>
      </select>
      <div
        *ngIf="
          researchForm.get('technology2')?.invalid &&
          researchForm.get('technology2')?.touched
        "
        class="error"
      >
        Technology 2 is required.
      </div>
    </div>
    <button
      type="submit"
      [disabled]="researchForm.invalid"
      routerLink="/thanks"
    >
      Submit
    </button>
  </form>
</div>
