.tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip::after {
    content: '';
    position: absolute;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
  }

  .tooltip:hover::after {
    visibility: visible;
    opacity: 1;
  }