<link rel="stylesheet" href="./home.component.css" />
<body>
  <div class="container">
    <div class="row">
      Take care of you and yours at home, and we can take care of your services.
    </div>
  </div>
  <!-- <div class="combinations">
    <label for="n">Enter the value of n:</label>
    <input type="number" id="n" [(ngModel)]="n">
  
    <label for="r">Enter the value of r:</label>
    <input type="number" id="r" [(ngModel)]="r">
  
    <button (click)="generateCombinations()">Generate Combinations</button>
  
    <div *ngIf="combinations.length > 0">
      <h2>Combinations of size {{ r }} in an array of size {{ n }}:</h2>
      <ul>
        <li *ngFor="let combination of combinations">{{ combination.join(', ') }}</li>
      </ul>
    </div>
  </div> -->

  <!-- <div class="thework">
      to see our works and to get access to your work, go and check
      <span><a href="#" target="_self" routerLink="">The Work</a></span>
      menu..
    </div> -->
  <section class="front">
    <div class="welcome">
      <h1>spAce-I</h1>
      <h6>empowerd by AI</h6>
    </div>
    <button href="#" routerLink="/signup" matTooltip="Sign-up here">
      Signup For Services
    </button>
  </section>
  <!-- matTooltip="You can Drag and Play with ME" -->
  <div class="example-box" cdkDrag>Play With Me</div>

  <section class="about-us">
    <div class="about">
      <img
        src="../../assets/images/robo.jpg"
        class="pic"
        alt="image of robot"
      />
      <div class="text">
        <h2>About Us</h2>
        <h5>Front-end Developer & <span>Designer</span></h5>
        <p>
          UI Designer competent at creating user-friendly interfaces with an
          easily navigable design. Translates high-level requirements into
          necessary interaction flows and artifacts. Specializes in creating
          clean, artful designs that are both intuitive and functional.
        </p>
        <div class="data">
          <a
            href="#"
            class="hire"
            routerLink="/practice"
            matTooltip="Subscribe here for Newsletter"
            >subscribe</a
          >
        </div>
      </div>
    </div>
  </section>
  <div class="design">
    <div class="bg-dark" style="margin-top: 0px; height: 23px"></div>
    <div class="bg-dark" style="margin-top: 1px; height: 22px"></div>
    <div class="bg-dark" style="margin-top: 2px; height: 21px"></div>
    <div class="bg-dark" style="margin-top: 3px; height: 20px"></div>
    <div class="bg-dark" style="margin-top: 4px; height: 19px"></div>
    <div class="bg-dark" style="margin-top: 5px; height: 18px"></div>
    <div class="bg-dark" style="margin-top: 6px; height: 17px"></div>
    <div class="bg-dark" style="margin-top: 7px; height: 16px"></div>
    <div class="bg-dark" style="margin-top: 8px; height: 15px"></div>
    <div class="bg-dark" style="margin-top: 9px; height: 14px"></div>
    <div class="bg-dark" style="margin-top: 10px; height: 13px"></div>
    <div class="bg-dark" style="margin-top: 11px; height: 12px"></div>
    <div class="bg-dark" style="margin-top: 12px; height: 11px"></div>
    <div class="bg-dark" style="margin-top: 13px; height: 10px"></div>
    <div class="bg-dark" style="margin-top: 14px; height: 9px"></div>
    <div class="bg-dark" style="margin-top: 15px; height: 8px"></div>
    <div class="bg-dark" style="margin-top: 16px; height: 7px"></div>
    <div class="bg-dark" style="margin-top: 17px; height: 6px"></div>
    <div class="bg-dark" style="margin-top: 18px; height: 5px"></div>
    <div class="bg-dark" style="margin-top: 19px; height: 4px"></div>
    <div class="bg-dark" style="margin-top: 20px; height: 3px"></div>
    <div class="bg-dark" style="margin-top: 21px; height: 1px"></div>
    <div class="bg-dark" style="margin-top: 22px; height: 0px"></div>
  </div>
</body>
