.welcome {
  width: 400px;
  margin: 100px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  padding: 40px;
  text-align: center;
  animation: shadow 2s ease-in-out infinite;
  font-size: 45px;
  /* background: rgb(9, 9, 121); */
  background: linear-gradient(
    90deg,
    #222e30 0%,
    #3a4d51 35%,
    #5a777e 100%
  );
  color: white;
}
h1 {
  font-size: 42px;
  font-weight: 400;
  line-height: 32px;
  font-family: unset;
  letter-spacing: normal;
  margin: 0 0 16px;
  color: white;
}
h6 {
  font: 400 calc(14px * 0.67) / 20px Roboto, sans-serif;
  margin: 0 0 12px;
  font-size: small;
  font-family: initial;
  color: white;
}

button {
  width: 310px;
  margin: 100px auto;
  /* background: rgb(9, 9, 121); */
  background: linear-gradient(
    90deg,
    #222e30 0%,
    #3a4d51 35%,
    #5a777e 100%
  );
  border-radius: 50px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  padding: 5px;
  text-align: center;
  animation: shadow 2s ease-in-out infinite;
  font-size: 20px;
  color: white;
}
button:hover {
  /* background: rgb(9, 9, 121); */
  background: linear-gradient(
    90deg,
    #222e30 0%,
    #3a4d51 35%,
    #5a777e 100%
  );
}
.front {
  width: 500px;
  margin: 100px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  padding: 40px;
  text-align: center;
  animation: shadow 2s ease-in-out infinite;
  /* background: rgb(9, 9, 121); */
  background: linear-gradient(
    90deg,
    #222e30 0%,
    #3a4d51 35%,
    #5a777e 100%
  );
}
.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
  /* background: darkgray; */
  border-radius: 15px;
  animation: shadow 2s ease-in-out infinite;
  color: white;
  /* background: rgb(9, 9, 121); */
  background: linear-gradient(
    90deg,
    #222e30 0%,
    #3a4d51 35%,
    #5a777e 100%
  );
}
.row {
  /* font-size: 2.5rem; */
  line-height: 3rem;
  font-family: PayPalSansBig-Light, Helvetica Neue, Arial, sans-serif;
  font-weight: 400;
  display: flex;
  padding: 30px;
  margin: 45px;
  font-size: 34px;
  font-family: sans-serif;
}
/* .thework {
  box-sizing: border-box;
  display: block;
  color: black;
  margin: 0;
  padding: 35px;
  background: darkgray;
  border-radius: 50px;
  font-family: sans-serif;
  font-style: oblique;
  font-size: larger;
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.about-us {
  height: 100vh;
  width: 100%;
  padding: 90px 0;
 
  background: linear-gradient(
    90deg,
    #222e30 0%,
    #3a4d51 35%,
    #5a777e 100%
  );
}
.pic {
  height: auto;
  width: 302px;
  border-radius: 50%;
}
.about {
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text {
  width: 540px;
}
.text h2 {
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
}
.text h5 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span {
  color: white;
}
.text p {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data {
  margin-top: 30px;
  
}
.hire {
  font-size: 18px;
  background: #889496;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;

}
.hire:hover {
  background: #000;
  border: 1px solid whitesmoke;
}
.design {
  background-color: white;
  margin-top: -23px;
}
.bg-primary {
  background-color: black;
}
.example-box {
  width: 150px;
  height: 150px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
  font-style: italic;
  /* background: rgb(8, 34, 138); */
  background: linear-gradient(
    90deg,
    #222e30 0%,
    #3a4d51 35%,
    #5a777e 100%
  );
  border-radius: 50%;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
